{% extends 'aplicacion1/base.html' %}
{% load static %}

{% block Titulo %}
<div class="text-center t">
    <br>
    <br>
    <br>
    <h1 style="color: green;">Acerca de mí</h1> 
</div>             
{% endblock Titulo %}

{% block Contenido %}
<div class="text-center">
    <br>
    <br>
    <br>
    <h2></h2> 
</div>                    
{% endblock Contenido %}

{% block Observacion %}
<div class="text-center">
    <h2>Hola Mundo! Mi nombre es Gaston Alejandro Olivieri, alumno de la clase de Python comisión 55630. Actualmente trabajo en la administración de una planta de Acopio y Agroinsumos, este es mi primer curso de programación y espero aprender muchas cosas más en este basto mundo informático. Desde ya encantado de conocerlos.</h2>
    <br>
    <ul class="list-inline mb-0">
        <li class="list-inline-item me-4">
            <h4>Encuentrame en:</h4>
            <h5 style="color: blue;">Facebook: <a href="https://www.facebook.com/alejandrogaston.olivieri">Gaston Alejandro Olivieri</a></h5>
            <h5 style="color: palevioletred;">Instagram: <a href="https://www.instagram.com/gastoon_olivieri">Gaston Alejandro Olivieri</a></h5>
            <h5 style="color: darkgray;">Github: <a href="https://github.com/Gaston-Olivieri">Gaston Alejandro Olivieri</a></h5>
    </ul>
</div>    
{% endblock Observacion %}