<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Logistica</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static 'aplicacion1/css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3">Menú</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </nav>
        <!-- Menú Lateral-->
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
            <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> 

                            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>

            <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->                           
                            
                            <div class="sb-sidenav-menu-heading">USUARIO</div>                         
                            {% if user.is_authenticated %}
                                    <br>
                                    <div class="text-center">
                                        <p style="color:yellowgreen">Bienvenido {{user.username}}</p>
                                        <div class="text-center">
                                            <img src="{{ request.session.avatar }}" height="40px" weight="40px"/>
                                        </div>
                                        <br>
                                        <p><a class="btn btn-primary" href="{% url 'editar_perfil' %}">Editar Datos Perfil</a></p>
                                        <p><a class="btn btn-primary" href="{% url 'nuevoAvatar' %}">Agregar Avatar</a></p>
                                        <p><a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a></p>
                                        
                                        
                                    </div>
                                    <br>  
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
                                        Logistica
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href= "{% url 'transportistas' %}">
                                                <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>    
                                                Transportistas
                                            </a>
                                            <a class="nav-link" href="{% url 'papeles' %}">
                                                <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-check"></i></div>
                                                Documentacion
                                            </a>  
                                        </nav>
                                    </div>
            
                            <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> 
                        
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                        <div class="sb-nav-link-icon"><i class="fa-solid fa-industry"></i></div>
                                        Acopio
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href= "{% url 'ingresos' %}">
                                                <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-arrow-right"></i></div>    
                                                Ingresos
                                            </a>
                                            <a class="nav-link" href= "{% url 'salidas' %}">
                                                <div class="sb-nav-link-icon"><i class="fa-solid fa-truck"></i></div>    
                                                Salidas
                                            </a>
                                            <a class="nav-link" href="{% url 'pedidos' %}">
                                                <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-fast"></i></div>
                                                Pedidos
                                            </a>
                                        </nav>
                                    </div>
                                
                            <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->                                   
                            {% else %} 
                                <nav>
                                    <a class="nav-link" href="{% url 'login' %}">
                                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                                        Iniciar sesión
                                    </a>
                                    <a class="nav-link" href="{% url 'registrarse' %}">
                                        <div class="sb-nav-link-icon"><i class="fa-solid fa-address-book"></i></div>
                                        Registrarse
                                    </a>
                                </nav>
                            {% endif %}                          
                            
            <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> 
                
                            <div class="sb-sidenav-menu-heading">Nosotros</div>
                            <a class="nav-link" href="{% url 'contactos' %}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-info"></i></div>
                                Contactos
                            </a>
                            <a class="nav-link" href="{% url 'AcercaDeMi' %}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-universal-access"></i></div>
                                Acerca de mí
                            </a>

            <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> 

                        </div>
                    </div>
                </nav>
            </div>

        
            
            <!-- Vista pagina base-->
            <div id="layoutSidenav_content">

                <!-- Colocar aquí contenidos-->
                
                {% block Atras %}
                    
                {% endblock Atras %}
                    

                {% block Titulo %}
                       
                {% endblock Titulo %}

                
                {% block Contenido %}
                    
                {% endblock Contenido %}



                {% block Observacion %}
                   
                {% endblock Observacion %}
                                    
                
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Proyecto Final Coder House Python 2023 - comision 55630 - Olivieri Gaston Alejandro</div> 
                        </div>
                    </div>
                </footer>
            </div>





        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'aplicacion1/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
