{% extends 'aplicacion1/base.html' %}
{% load static %}

{% block Titulo %}
<div class="text-center t">
    <br>
    <br>
    <br>
    <h1 style="color: green;">Planta de Acopio San Agustin</h1> 
</div>             
{% endblock Titulo %}

{% block Contenido %}
<div class="text-center">
    <br>
    <br>
    <br>
    <h2>
        Bienvenido/a 
        
    </h2> 
</div>                    
{% endblock Contenido %}

{% block Observacion %}
<div class="text-center">
    <br>
    <br>
    <br>
    <h2 style="color: green;">
    </h2>
</div>                
{% endblock Observacion %}
